* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/*

PARENT/CONTAINER/THE THING THAT DISPLAY FLEX
Display flex is applied to the parent element, aka the thing that contains the items you want to stack
Flex direction defaults to row
Flex-wrap defaults to nowrap which mean all items within will squish onto one line/row
Justify Content - applies to the container/element that displays flex [ main axis ]
Align items - applies to the container/element that displays flex [ cross axis ]
align-items defaults to stretch (which fills the parent container height, 
unless the flex-items (children) have a defined height, then height wins
*/

/* base classes */

.container {
  display: flex;
  flex-direction: row;
  /* if you want your items to wrap/stack
   onto a new line when they run out of space
   you have to saw flex-wrap: wrap
   default behavior is to squish/flex each item to fit in one row
   */
  flex-wrap: wrap;
  border: 1px solid purple;
  background-color: rgba(255, 0, 255, 0.3);
  min-height: 400px;
}

.item {
  width: 21%;
  height: 300px;
  border: 1px solid cornflowerblue;
  background-color: rgba(0, 0, 255, 0.3);
}

/* variations using atomic css */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-even {
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

/* align items gets applied to the cross axis */

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

/* any element that is a direct descendant of an element that has the class align-stretch */
.align-stretch > * {
  height: auto;
}

.align-self {
  align-self: stretch;
  height: auto;
}


/* classic layout example */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  min-height: 100px;
  background-color: aqua;
}

/* this is a box around the 2 items we want to stack next 
to each another -- the parent of what we want to stack*/
.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* equal margins around each side; space between puts just space 
  between and nothing on the outside */
  justify-content: space-around;
  /* only necessary when items are different sizes. in this case,
  they're all the same size */
  align-items: center;
  background-color: darkcyan;
}

.grid-item {
  width: 23%;
  margin: 1%;
}

.secondary-nav {
  min-width: 25%;
  background-color: aquamarine;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* no commas means we are looking for a pattern */
.menu li {
  border-bottom: 1px solid gray;
}

.menu span {
  padding: 1rem;
  font-size: 2rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
}

/* this is a pseudo class: a special case of an anchor tag */
.menu a:hover {
  background-color:rgba(0, 0, 0, 0.1);
}

footer {
  min-height: 100px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding: 5%;
}

