/* We write this together in class. */

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #555;
}

/* every div on the page, so we can SEE our boxes while we work */

/* divs have no height until it has content or other box properties defined. It's 
just a screen-length line */
div {
  background-color: rgba(0, 0, 200, 0.1);
  /* having the 0.1 transparency allows us to see when they overlap */
}

/* ---------- nav bar ---------- */

/* whenever you make elements stack horizontally using inline-block, you have to zero out the font size of the parent element */
/* This gets rid of the space between letters that's automatically added to inline elements */

/* when in doubt make a class name. it targets more specific items and makes using the same elements more same?? */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0; /*this zeroes out the space in between each item*/
}

.nav-item {
  display: inline-block;
  padding: 12px 20px;
  background-color: #006fff;
  font-size: 16px; /* important to re-say font size here so that all fonts aren't 0 from the parent element */
  /* zeroing out margin here won't get rid of our space between words, font size in .nav (the parent) does */
}

.nav-item a {
  color: white;
  text-decoration: none;
}

/* ---------- photo grid, fixed pixels ---------- */
.gallery {
  width: 900px;
  /* i don't want a margin on the top and bottom, but I want you to calculate it automatically (which will be in the middle */
  /* margins are outside of our div boxes */
  margin: 0 auto; 
  /* padding means space between the edge of our div boxes and the padding inside, like putting on a sweater */
  /* if we have 2 values, the first one is top/bottom, second one is left/right */
  padding: 10px;
  /* this is the parent of inline block elements, so we 0 out the font size */
  font-size: 0px;
}

.gallery-item {
  display: inline-block;
  /* remember to bring font size back! */
  /* everything needs to add up to 900, or else itll wrap */
  font-size: 16px;
  width: 200px;
  height: 200px;
  margin: 0 10px;
}

.gallery-item-border {
  display: inline-block;
  font-size: 16px;
  width: 190px; /* it's 190 + 5px border-left  + 5px border-right = original 200px */
  height: 130px;
  border: 5px solid #006fff;
}

.gallery-item-padding {
  display: inline-block;
  font-size: 16px;
  width: 150px; /* 150px content + 5px border-left + 5px border-right + 20px paddding-left + 20px padding-right */
  height: 150px; /* 150px content + 5px border-left + 5px border-right + 20px paddding-left + 20px padding-right */
  border: 5px solid #006fff;
  padding: 20px;
  font-size: 13px;
}

.gallery-fluid {
  width: 90%; 
  margin: 0 auto;
  padding: 2%;
  font-size: 0; /* becasue this is the parent of the things that need to stack */
}

.gallery-item-fluid {
  display: inline-block;
  font-size: 16px;
  width: 21%; 
 /* height: 10%; percentages for height only work if its parent has a fixed dimension */
  height: 160px;
  margin: 0 2%;
}

  /* LESSON TAKEAWAY: margins, padding, and border dimensions ALL add up. They need to be added to width when calculating
  how many fit in one row.  */

  .gallery-inclass {
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    font-size: 0px;
  }

  .gallery-item-inclass {
    display: inline-block;
    font-size: 16px;
    width: 205px;
    height: 205px;
    margin: 0 10px;

  }