@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

:root {
   --ink: #203979;
   --paper: #fff;
   --accent: #de3434;
   --radius: rgb(229, 171, 185);
   --speed: 0.18s;
   --font: 'Della Respira', serif;
}

* {
   box-sizing: border-box;
}

body {
   font-family: var(--font);
   color: var(--ink);
   background: var(--paper);
   margin: 0;
}

h1 a {
   color: var(--ink);
   text-decoration: none;
}

nav {
    position: relative;
    z-index: 10;
}

nav ul {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav a { 
    display: flex;
    padding: 1rem 1.5rem;
    color: var(--ink);
    text-decoration: none;
    transition: background-color 0.25s ease;
}

.nav li a:hover {
   color: var(--accent);
}