@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

:root {
   --ink: #14295f;
   --paper: #fff;
   --accent: #040e27;
   --unselected: #3a5086;
   --radius: rgb(229, 171, 185);
   --speed: 0.18s;
   --font: 'Della Respira', serif;
}

* {
   box-sizing: border-box;
}

body {
   font-family: var(--font);
   color: var(--ink);
   background: var(--paper);
   margin: 0;
}


/* allows h1 and hamburger to be positioned
relative to the header */
header {
   position: relative;
}


h1 {
   position: absolute;
   top: 11rem;
   left: 1rem;
   transform: rotate(-90deg);
   transform-origin: left top;
   margin: 0;
}

h1 a {
   color: var(--ink);
   text-decoration: none;
}

nav {
   position: relative;
   z-index: 10;

   display: flex;
   justify-content: center;
}

nav ul {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
   list-style-type: none;
   margin: 0;
   padding: 1rem 0;
}

nav li {
   margin: 0;
}


nav a { 
   display: block;
   padding: 1rem 1.5rem;
   color: var(--ink);
   text-decoration: none;
   transition: background-color 0.25s ease;
}

nav li a:hover {
   color: var(--accent);
}

.mobile-menu {
   display: none;

}

/* IPDAD / TABLET */
@media screen and (max-width: 1024px) {
   body {
      background-color:rgb(237, 204, 212);
   }

   header {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      text-align: center;
      padding: 0;
   }

   /* move for keeping to top of page */
   h1 {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      text-align: center;
      margin: 1rem 0;
   }

   /* hamburger menu */
   /* I want this to only show up on
   iPad and mobile versions */

   /* the hamburger menu will have
   comfort, wonder, change, connection */

   /* for keeping will move to the top center of page */
   .mobile-menu {
      display: block;

      font-size: 3rem;
      color: var(--ink);
      position: absolute;
      top: 0.5rem;
      left: 1rem;

      cursor: pointer;
   }

   nav ul {
      display: none;
      flex-direction: column;
   }

   nav {
      width: 100%;
   }

   nav li {
      width: 100%
   }
}


/* MOBILE */
@media screen and (max-width: 767px) {
   body {
      background-color: rgb(229, 211, 188);
   }

   nav ul {
      width: 100%;
   }


}